In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("C:/Temp/DentalClinic/cleaned.csv")
df.head(5)

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
0,MLPT00001,Ngozi Okoro,Female,54,2023-01-02,Dr. Kajal,No,No,First Visit,Cleaning,411.0,0.0,0.0,0.0,0.0,411.0,0.0,411.0,Online Transfer
1,MLPT00002,Chinedu Eze,Male,73,2023-01-02,Dr. Karan,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,0.0,350.0,0.0,350.0,Online Transfer
2,MLPT00003,Fatima Bello,Female,57,2023-01-03,Dr. Karan,No,No,First Visit,Filling,1068.0,0.0,0.0,0.0,0.0,1068.0,0.0,1068.0,Cash
3,MLPT00004,Emeka Nwafor,Male,73,2023-01-03,Dr. Karan,No,No,Referral,OPD,0.0,0.0,200.0,0.0,80.0,120.0,0.0,120.0,Card
4,MLPT00005,Adewale Adeyemi,Male,16,2023-01-03,Dr. Karan,No,No,First Visit,OPD,0.0,0.0,200.0,0.0,0.0,200.0,0.0,200.0,UPI
5,MLPT00006,Jagdish Prasad,Male,57,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1602.0,0.0,0.0,0.0,0.0,1602.0,0.0,1602.0,Cash
6,MLPT00007,Aisha Khan,Female,67,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1653.0,0.0,0.0,0.0,0.0,1653.0,0.0,1653.0,UPI
7,MLPT00008,Raghav Singh,Male,67,2023-01-05,Dr. Karan,No,Yes,Walk-in,OPD + X-Ray,0.0,150.0,200.0,0.0,0.0,350.0,0.0,350.0,Cash
8,MLPT00009,Naina Gupta,Female,13,2023-01-05,Dr. Kajal,No,No,First Visit,OPD,0.0,0.0,200.0,0.0,0.0,200.0,0.0,200.0,Online Transfer
9,MLPT00010,Poonam Devi,Female,30,2023-01-06,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Cash
10,MLPT00011,Kajal Singh,Female,80,2023-01-06,Dr. Karan,No,Yes,Walk-in,Extraction,533.0,0.0,0.0,0.0,200.0,333.0,0.0,333.0,UPI
11,MLPT00012,Gia Patel,Female,73,2023-01-07,Dr. Kajal,No,No,Walk-in,OPD,0.0,0.0,200.0,0.0,0.0,200.0,0.0,200.0,Cash
12,MLPT00013,Kajal Singh,Female,53,2023-01-07,Dr. Kajal,No,No,First Visit,OPD,0.0,0.0,200.0,0.0,0.0,200.0,0.0,200.0,UPI
13,MLPT00014,Manoj Kumar,Male,65,2023-01-09,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Cash
14,MLPT00015,Misha Sharma,Female,36,2023-01-11,Dr. Kajal,No,Yes,Walk-in,OPD + X-Ray,0.0,150.0,200.0,0.0,0.0,350.0,0.0,350.0,Card
15,MLPT00016,Ishaan Chauhan,Male,43,2023-01-11,Dr. Kajal,No,Yes,First Visit,Implants,26320.0,0.0,0.0,8930.0,0.0,26320.0,0.0,17390.0,UPI
16,MLPT00017,Aarav Sharma,Male,48,2023-01-11,Dr. Karan,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,50.0,300.0,0.0,300.0,UPI
17,MLPT00018,Diya Sharma,Female,59,2023-01-12,Dr. Kajal,No,Yes,Referral,Cleaning,413.0,0.0,0.0,0.0,0.0,413.0,0.0,413.0,Cash
18,MLPT00019,Rishi Yadav,Male,62,2023-01-12,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Online Transfer
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer

Cleaning Check-up

In [3]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      897 non-null    object
 1   patient_name    897 non-null    object
 2   gender          897 non-null    object
 3   age             897 non-null    int64
 4   visit_date      897 non-null    object
 5   consulted_by    897 non-null    object
 6   dental_camp     897 non-null    object
 7   xray_done       897 non-null    object
 8   patient_type    897 non-null    object
 9   treatment_type  897 non-null    object
 10  treatment_cost  897 non-null    float64
 11  xray_cost       897 non-null    float64
 12  opd_cost        897 non-null    float64
 13  lab_charges     897 non-null    float64
 14  discount        897 non-null    float64
 15  total_paid      897 non-null    float64
 16  due             897 non-null    float64
 17  profit          897 non-null    float64
 18  payment_method  897 non-null    object
dtypes: float64(8), int64(1), object(10)
memory usage: 133.3+ KB

(897, 19)

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
age,897.0,42.100334,22.005401,5.0,22.0,43.0,60.0,80.0
treatment_cost,897.0,2064.214047,5706.665793,0.0,0.0,0.0,656.0,29029.0
xray_cost,897.0,51.505017,71.264631,0.0,0.0,0.0,150.0,150.0
opd_cost,897.0,121.293200,97.761211,0.0,0.0,200.0,200.0,200.0
lab_charges,897.0,468.171683,1505.311653,0.0,0.0,0.0,0.0,9160.0
discount,897.0,53.778372,160.191473,0.0,0.0,0.0,50.0,1500.0
total_paid,897.0,2113.243924,5426.072148,0.0,200.0,350.0,621.0,29029.0
due,897.0,69.989967,615.469120,0.0,0.0,0.0,0.0,9201.0
profit,897.0,1645.072241,3966.398307,0.0,200.0,350.0,621.0,22007.0

In [5]:
df.isnull().sum()

patient_id        0
patient_name      0
gender            0
age               0
visit_date        0
consulted_by      0
dental_camp       0
xray_done         0
patient_type      0
treatment_type    0
treatment_cost    0
xray_cost         0
opd_cost          0
lab_charges       0
discount          0
total_paid        0
due               0
profit            0
payment_method    0
dtype: int64

In [6]:
df.isnull().mean().sort_values(ascending=False)

patient_id        0.0
treatment_cost    0.0
profit            0.0
due               0.0
total_paid        0.0
discount          0.0
lab_charges       0.0
opd_cost          0.0
xray_cost         0.0
treatment_type    0.0
patient_name      0.0
patient_type      0.0
xray_done         0.0
dental_camp       0.0
consulted_by      0.0
visit_date        0.0
age               0.0
gender            0.0
payment_method    0.0
dtype: float64

Outliers

In [7]:
df.columns

Index(['patient_id', 'patient_name', 'gender', 'age', 'visit_date',
       'consulted_by', 'dental_camp', 'xray_done', 'patient_type',
       'treatment_type', 'treatment_cost', 'xray_cost', 'opd_cost',
       'lab_charges', 'discount', 'total_paid', 'due', 'profit',
       'payment_method'],
      dtype='object')

In [8]:
df[['treatment_cost','xray_cost','opd_cost','lab_charges','discount','total_paid','due','profit']].describe()

,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit
count,897.000000,897.000000,897.000000,897.000000,897.000000,897.000000,897.000000,897.000000
mean,2064.214047,51.505017,121.293200,468.171683,53.778372,2113.243924,69.989967,1645.072241
std,5706.665793,71.264631,97.761211,1505.311653,160.191473,5426.072148,615.469120,3966.398307
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,200.000000,0.000000,200.000000
50%,0.000000,0.000000,200.000000,0.000000,0.000000,350.000000,0.000000,350.000000
75%,656.000000,150.000000,200.000000,0.000000,50.000000,621.000000,0.000000,621.000000
max,29029.000000,150.000000,200.000000,9160.000000,1500.000000,29029.000000,9201.000000,22007.000000

In [9]:
Q1 = df['treatment_cost'].quantile(0.25)
Q3 = df['treatment_cost'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['treatment_cost'] < lower_bound) | (df['treatment_cost'] > upper_bound)]

In [10]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
6,MLPT00007,Aisha Khan,Female,67,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1653.0,0.0,0.0,0.0,0.0,1653.0,0.0,1653.0,UPI
15,MLPT00016,Ishaan Chauhan,Male,43,2023-01-11,Dr. Kajal,No,Yes,First Visit,Implants,26320.0,0.0,0.0,8930.0,0.0,26320.0,0.0,17390.0,UPI
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer
27,MLPT00028,Pranav Kumar,Male,47,2023-01-17,Dr. Kajal,No,No,First Visit,RCT,3658.0,0.0,0.0,0.0,0.0,3658.0,0.0,3658.0,Cash
34,MLPT00035,Jia Verma,Female,72,2023-01-23,Dr. Kajal,No,Yes,First Visit,Braces,14477.0,0.0,0.0,4260.0,0.0,14477.0,0.0,10217.0,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,MLPT00858,Advait Singh,Male,22,2024-12-02,Dr. Kajal,No,Yes,First Visit,Braces,14092.0,0.0,0.0,4120.0,0.0,14092.0,0.0,9972.0,Cash
858,MLPT00859,Vanya Gupta,Female,59,2024-12-03,Dr. Kajal,No,Yes,Walk-in,Implants,20445.0,0.0,0.0,4890.0,100.0,20345.0,0.0,15455.0,Cash
865,MLPT00866,Kaira Yadav,Female,54,2024-12-03,Dr. Karan,Yes,Yes,First Visit,Crown,3544.0,0.0,0.0,1450.0,0.0,3154.0,390.0,1704.0,Online Transfer
868,MLPT00869,Ishita Singh,Female,68,2024-12-03,Dr. Kajal,No,Yes,First Visit,Braces,19801.0,0.0,0.0,3890.0,0.0,19801.0,0.0,15911.0,Cash
879,MLPT00880,Arnav Gupta,Male,19,2024-12-05,Dr. Kajal,No,Yes,Walk-in,Braces,19238.0,0.0,0.0,4950.0,0.0,19238.0,0.0,14288.0,Card

In [11]:
Q1 = df['xray_cost'].quantile(0.25)
Q3 = df['xray_cost'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['xray_cost'] < lower_bound) | (df['xray_cost'] > upper_bound)]

In [12]:
outliers

Empty DataFrame
Columns: [patient_id, patient_name, gender, age, visit_date, consulted_by, dental_camp, xray_done, patient_type, treatment_type, treatment_cost, xray_cost, opd_cost, lab_charges, discount, total_paid, due, profit, payment_method]
Index: []

In [13]:
Q1 = df['opd_cost'].quantile(0.25)
Q3 = df['opd_cost'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['opd_cost'] < lower_bound) | (df['opd_cost'] > upper_bound)]

In [14]:
outliers

Empty DataFrame
Columns: [patient_id, patient_name, gender, age, visit_date, consulted_by, dental_camp, xray_done, patient_type, treatment_type, treatment_cost, xray_cost, opd_cost, lab_charges, discount, total_paid, due, profit, payment_method]
Index: []

In [15]:
Q1 = df['lab_charges'].quantile(0.25)
Q3 = df['lab_charges'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['lab_charges'] < lower_bound) | (df['lab_charges'] > upper_bound)]

In [16]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
15,MLPT00016,Ishaan Chauhan,Male,43,2023-01-11,Dr. Kajal,No,Yes,First Visit,Implants,26320.0,0.0,0.0,8930.0,0.0,26320.0,0.0,17390.0,UPI
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer
34,MLPT00035,Jia Verma,Female,72,2023-01-23,Dr. Kajal,No,Yes,First Visit,Braces,14477.0,0.0,0.0,4260.0,0.0,14477.0,0.0,10217.0,UPI
40,MLPT00041,Zeeshan Khan,Male,54,2023-01-27,Dr. Kajal,No,Yes,Walk-in,Implants,27757.0,0.0,0.0,7170.0,1500.0,26257.0,0.0,19087.0,UPI
41,MLPT00042,Vandana Gupta,Female,46,2023-01-27,Dr. Karan,No,Yes,Walk-in,Crown,2455.0,0.0,0.0,860.0,0.0,2455.0,0.0,1595.0,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,MLPT00858,Advait Singh,Male,22,2024-12-02,Dr. Kajal,No,Yes,First Visit,Braces,14092.0,0.0,0.0,4120.0,0.0,14092.0,0.0,9972.0,Cash
858,MLPT00859,Vanya Gupta,Female,59,2024-12-03,Dr. Kajal,No,Yes,Walk-in,Implants,20445.0,0.0,0.0,4890.0,100.0,20345.0,0.0,15455.0,Cash
865,MLPT00866,Kaira Yadav,Female,54,2024-12-03,Dr. Karan,Yes,Yes,First Visit,Crown,3544.0,0.0,0.0,1450.0,0.0,3154.0,390.0,1704.0,Online Transfer
868,MLPT00869,Ishita Singh,Female,68,2024-12-03,Dr. Kajal,No,Yes,First Visit,Braces,19801.0,0.0,0.0,3890.0,0.0,19801.0,0.0,15911.0,Cash
879,MLPT00880,Arnav Gupta,Male,19,2024-12-05,Dr. Kajal,No,Yes,Walk-in,Braces,19238.0,0.0,0.0,4950.0,0.0,19238.0,0.0,14288.0,Card

In [17]:
Q1 = df['discount'].quantile(0.25)
Q3 = df['discount'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['discount'] < lower_bound) | (df['discount'] > upper_bound)]

In [18]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
9,MLPT00010,Poonam Devi,Female,30,2023-01-06,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Cash
10,MLPT00011,Kajal Singh,Female,80,2023-01-06,Dr. Karan,No,Yes,Walk-in,Extraction,533.0,0.0,0.0,0.0,200.0,333.0,0.0,333.0,UPI
13,MLPT00014,Manoj Kumar,Male,65,2023-01-09,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Cash
18,MLPT00019,Rishi Yadav,Male,62,2023-01-12,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Online Transfer
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,MLPT00863,Dhruv Jain,Male,69,2024-12-03,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Card
863,MLPT00864,Saisha Singh,Female,56,2024-12-03,Dr. Karan,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Card
869,MLPT00870,Deepa Sharma,Female,80,2024-12-03,Dr. Kajal,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,UPI
872,MLPT00873,Anika Patel,Female,59,2024-12-04,Dr. Kajal,No,Yes,Referral,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Cash
876,MLPT00877,Om Prakash,Male,79,2024-12-04,Dr. Karan,No,Yes,First Visit,OPD + X-Ray,0.0,150.0,200.0,0.0,140.0,210.0,0.0,210.0,Card

In [19]:
Q1 = df['total_paid'].quantile(0.25)
Q3 = df['total_paid'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['total_paid'] < lower_bound) | (df['total_paid'] > upper_bound)]

In [20]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
5,MLPT00006,Jagdish Prasad,Male,57,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1602.0,0.0,0.0,0.0,0.0,1602.0,0.0,1602.0,Cash
6,MLPT00007,Aisha Khan,Female,67,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1653.0,0.0,0.0,0.0,0.0,1653.0,0.0,1653.0,UPI
15,MLPT00016,Ishaan Chauhan,Male,43,2023-01-11,Dr. Kajal,No,Yes,First Visit,Implants,26320.0,0.0,0.0,8930.0,0.0,26320.0,0.0,17390.0,UPI
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer
27,MLPT00028,Pranav Kumar,Male,47,2023-01-17,Dr. Kajal,No,No,First Visit,RCT,3658.0,0.0,0.0,0.0,0.0,3658.0,0.0,3658.0,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,MLPT00858,Advait Singh,Male,22,2024-12-02,Dr. Kajal,No,Yes,First Visit,Braces,14092.0,0.0,0.0,4120.0,0.0,14092.0,0.0,9972.0,Cash
858,MLPT00859,Vanya Gupta,Female,59,2024-12-03,Dr. Kajal,No,Yes,Walk-in,Implants,20445.0,0.0,0.0,4890.0,100.0,20345.0,0.0,15455.0,Cash
865,MLPT00866,Kaira Yadav,Female,54,2024-12-03,Dr. Karan,Yes,Yes,First Visit,Crown,3544.0,0.0,0.0,1450.0,0.0,3154.0,390.0,1704.0,Online Transfer
868,MLPT00869,Ishita Singh,Female,68,2024-12-03,Dr. Kajal,No,Yes,First Visit,Braces,19801.0,0.0,0.0,3890.0,0.0,19801.0,0.0,15911.0,Cash
879,MLPT00880,Arnav Gupta,Male,19,2024-12-05,Dr. Kajal,No,Yes,Walk-in,Braces,19238.0,0.0,0.0,4950.0,0.0,19238.0,0.0,14288.0,Card

In [21]:
Q1 = df['due'].quantile(0.25)
Q3 = df['due'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['due'] < lower_bound) | (df['due'] > upper_bound)]

In [22]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
70,MLPT00071,Manav Jain,Male,52,2023-02-17,Dr. Kajal,No,Yes,First Visit,Implants,22187.0,0.0,0.0,6720.0,0.0,18471.0,3716.0,11751.0,Card
100,MLPT00101,Vivaan Sharma,Male,50,2023-03-14,Dr. Kajal,No,No,First Visit,Bleaching,1460.0,0.0,0.0,0.0,0.0,1248.0,212.0,1248.0,UPI
102,MLPT00103,Arnav Gupta,Male,66,2023-03-15,Dr. Kajal,No,Yes,First Visit,Bleaching,1387.0,0.0,0.0,0.0,0.0,879.0,508.0,879.0,UPI
111,MLPT00112,Uday Singh,Male,10,2023-03-25,Dr. Kajal,No,No,First Visit,Braces,12170.0,0.0,0.0,3510.0,750.0,8645.0,2775.0,5135.0,Cash
213,MLPT00214,Aryan Patel,Male,26,2023-06-08,Dr. Kajal,No,No,First Visit,Bleaching,1637.0,0.0,0.0,0.0,0.0,1071.0,566.0,1071.0,Cash
226,MLPT00227,Tanisha Jain,Female,33,2023-06-20,Dr. Kajal,No,Yes,First Visit,Bleaching,1760.0,0.0,0.0,0.0,200.0,1282.0,278.0,1282.0,UPI
296,MLPT00297,Avani Yadav,Female,6,2023-08-23,Dr. Kajal,No,No,First Visit,Implants,28849.0,0.0,0.0,6920.0,0.0,19914.0,8935.0,12994.0,Cash
329,MLPT00330,Sandeep Gupta,Male,38,2023-09-20,Dr. Kajal,No,Yes,First Visit,Braces,18927.0,0.0,0.0,4890.0,0.0,16418.0,2509.0,11528.0,UPI
383,MLPT00384,Bhavya Jain,Female,47,2023-11-05,Dr. Karan,No,No,First Visit,Crown,3447.0,0.0,0.0,1260.0,200.0,3023.0,224.0,1763.0,UPI
396,MLPT00397,Akshat Kumar,Male,48,2023-11-10,Dr. Kajal,No,No,First Visit,Bleaching,1523.0,0.0,0.0,0.0,200.0,1209.0,114.0,1209.0,Card
412,MLPT00413,Aarav Sharma,Male,41,2023-11-29,Dr. Kajal,No,Yes,First Visit,RCT,3676.0,0.0,0.0,0.0,0.0,2348.0,1328.0,2348.0,UPI
493,MLPT00494,Bharat Singh,Male,41,2024-01-19,Dr. Kajal,No,Yes,First Visit,RCT,3169.0,0.0,0.0,0.0,0.0,2945.0,224.0,2945.0,Cash
560,MLPT00561,Om Prakash,Male,16,2024-03-04,Dr. Kajal,No,No,First Visit,Bleaching,1611.0,0.0,0.0,0.0,0.0,1231.0,380.0,1231.0,Cash
569,MLPT00570,Heena Kumari,Female,33,2024-03-08,Dr. Kajal,No,Yes,First Visit,Braces,12169.0,0.0,0.0,2960.0,0.0,8206.0,3963.0,5246.0,Cash
588,MLPT00589,Om Prakash,Male,70,2024-03-28,Dr. Kajal,Yes,Yes,First Visit,Braces,15462.0,0.0,0.0,2550.0,0.0,12496.0,2966.0,9946.0,UPI
604,MLPT00605,Pranav Kumar,Male,31,2024-04-12,Dr. Kajal,No,Yes,Referral,Bleaching,1567.0,0.0,0.0,0.0,0.0,1287.0,280.0,1287.0,Online Transfer
626,MLPT00627,Poonam Devi,Female,54,2024-04-30,Dr. Karan,Yes,No,First Visit,Crown,3569.0,0.0,0.0,1200.0,100.0,2886.0,583.0,1686.0,UPI
684,MLPT00685,Advait Singh,Male,33,2024-06-28,Dr. Kajal,Yes,Yes,First Visit,Braces,17068.0,0.0,0.0,4380.0,0.0,11247.0,5821.0,6867.0,UPI
719,MLPT00720,Diya Sharma,Female,57,2024-08-03,Dr. Kajal,No,No,First Visit,Braces,17551.0,0.0,0.0,2660.0,0.0,12795.0,4756.0,10135.0,UPI
722,MLPT00723,Samar Patel,Male,72,2024-08-05,Dr. Kajal,No,Yes,Referral,Braces,16334.0,0.0,0.0,2670.0,0.0,12645.0,3689.0,9975.0,Card
754,MLPT00755,Dinesh Verma,Male,20,2024-08-31,Dr. Kajal,No,Yes,First Visit,Implants,28808.0,0.0,0.0,6360.0,0.0,19607.0,9201.0,13247.0,Cash
757,MLPT00758,Akshara Singh,Female,75,2024-09-03,Dr. Kajal,No,No,First Visit,Braces,17468.0,0.0,0.0,3300.0,0.0,10577.0,6891.0,7277.0,UPI
766,MLPT00767,Ritu Singh,Female,31,2024-09-11,Dr. Kajal,No,No,Walk-in,Braces,15721.0,0.0,0.0,4420.0,0.0,13249.0,2472.0,8829.0,Cash
865,MLPT00866,Kaira Yadav,Female,54,2024-12-03,Dr. Karan,Yes,Yes,First Visit,Crown,3544.0,0.0,0.0,1450.0,0.0,3154.0,390.0,1704.0,Online Transfer

In [23]:
Q1 = df['profit'].quantile(0.25)
Q3 = df['profit'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['profit'] < lower_bound) | (df['profit'] > upper_bound)]

In [24]:
outliers

,patient_id,patient_name,gender,age,visit_date,consulted_by,dental_camp,xray_done,patient_type,treatment_type,treatment_cost,xray_cost,opd_cost,lab_charges,discount,total_paid,due,profit,payment_method
5,MLPT00006,Jagdish Prasad,Male,57,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1602.0,0.0,0.0,0.0,0.0,1602.0,0.0,1602.0,Cash
6,MLPT00007,Aisha Khan,Female,67,2023-01-04,Dr. Kajal,No,Yes,First Visit,Bleaching,1653.0,0.0,0.0,0.0,0.0,1653.0,0.0,1653.0,UPI
15,MLPT00016,Ishaan Chauhan,Male,43,2023-01-11,Dr. Kajal,No,Yes,First Visit,Implants,26320.0,0.0,0.0,8930.0,0.0,26320.0,0.0,17390.0,UPI
19,MLPT00020,Uday Singh,Male,73,2023-01-13,Dr. Kajal,No,No,First Visit,Braces,16753.0,0.0,0.0,3780.0,1500.0,15253.0,0.0,11473.0,Online Transfer
27,MLPT00028,Pranav Kumar,Male,47,2023-01-17,Dr. Kajal,No,No,First Visit,RCT,3658.0,0.0,0.0,0.0,0.0,3658.0,0.0,3658.0,Cash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,MLPT00858,Advait Singh,Male,22,2024-12-02,Dr. Kajal,No,Yes,First Visit,Braces,14092.0,0.0,0.0,4120.0,0.0,14092.0,0.0,9972.0,Cash
858,MLPT00859,Vanya Gupta,Female,59,2024-12-03,Dr. Kajal,No,Yes,Walk-in,Implants,20445.0,0.0,0.0,4890.0,100.0,20345.0,0.0,15455.0,Cash
865,MLPT00866,Kaira Yadav,Female,54,2024-12-03,Dr. Karan,Yes,Yes,First Visit,Crown,3544.0,0.0,0.0,1450.0,0.0,3154.0,390.0,1704.0,Online Transfer
868,MLPT00869,Ishita Singh,Female,68,2024-12-03,Dr. Kajal,No,Yes,First Visit,Braces,19801.0,0.0,0.0,3890.0,0.0,19801.0,0.0,15911.0,Cash
879,MLPT00880,Arnav Gupta,Male,19,2024-12-05,Dr. Kajal,No,Yes,Walk-in,Braces,19238.0,0.0,0.0,4950.0,0.0,19238.0,0.0,14288.0,Card